body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}
.navbar {
  background-color: #343a40;
}
.navbar-brand, .nav-link {
  color: #ffffff !important;
}
.navbar-nav .nav-link:hover {
  color: #ffc107 !important;
}
.content-section {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.zagolovok {
  color: #361e21;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 2em;
  text-align: center;
}
.txt {
  line-height: 1.6;
  font-size: 1.1em;
}
.image-container {
  text-align: center;
  margin: 20px 0;
}
.image-container img {
  max-width: 100%;
  width: 450px;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
}
footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}